body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.header-nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 80px 40px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    gap: 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image {
    width: 400px;
    height: 300px;
    background-color: gray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 40px 80px;
}

.info-images ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
}

.info-images li {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.info-image-box {
    border: #3882F6 solid 5px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    max-width: 800px;
    margin-bottom: 30px;
}

.quote-author {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    width: 800px;
}

.cta {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
}

.cta-text {
    color: #F9FAF8;
}

.cta-main-text {
    font-size: 20px;
    font-weight: bold;
}

.cta button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 5px 24px;
    border: solid white 5px;
    border-radius: 10px;
    cursor: pointer;
}